<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS File A</title>
</head>
<body>
  <h1>404</h1>
  <p>page not found.</p>
  <p>You can use EJS syntax to embed JavaScript code and variables directly in your HTML.</p>
  <p>For example, here's the current year using EJS: <%= new Date().getFullYear() %>.</p>
</body>
</html>
